* {
  font-family: Roboto;
}

html {
  height: 80%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

#unauth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px 40px;
}

#login-component {
  align-items: center;
  margin-bottom: 10%;
}

#login-button {
  margin: 20px 0;
}

#login-form {
  width: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#chip-container {
  display: flex;
  align-items: right;
  max-width: 70%;
  overflow-x: scroll;
  flex-direction: row-reverse;
}

#search-button {
  width: 100%;
}

#fav-col-header {
  width: 3rem;
}

#img-col-header, td.img-cell, #age-col-header, #zip-col-header {
  text-align: center;
}

#name-col-header, #breed-col-header {
  width: 20%;
}

.table-header-wrapper {
  display: flex;
}

.dog-img {
  width: auto;
  height: 30vh;
}

a:hover {
  cursor: zoom-in;
}

.fav-border:hover {
  color: #ffa9a9;
  cursor: pointer;
  scale: 1.1;
}